@charset "utf-8";

body{
	color:#333;

	font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;

	line-height:1.5;

	background:#fff;
	
	background-image: url("../images/haikei.jpeg");
  
	background-size: cover;

	-webkit-text-size-adjust: none;

	
	
	justify-content:flex-start;
	z-index:50;
	
	
	
}


/* リンク設定
------------------------------------------------------------*/
a{
	color:#555;text-decoration:none;
}

	a:hover{
		color:#1f1f1f;
	}

	a:active, a:focus{
		outline:0;
	}



/* 全体の設定
------------------------------------------------------------*/
#wrapper{

	margin:0 auto;

	padding:0 1%;

	width:98%;

	position:relative;
}

.inner{

	margin:0 auto;

	width:100%;
}

.moji{
	font-size: 20px;
}

.mokuteki {
	padding: 0.5em 1em;
	
    margin: 3em 0;
	font-size: 15px;
    color: #5d627b;
    background: white;
    border-bottom: solid 3px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	
}


/*************
/* ヘッダー
*************/
#header{

	padding:10px 0 15px;

	overflow:hidden;
}

* html #header{height:1%;}

#header h1{
	font-size:12px;

	font-weight:normal;
}


/*************
/* ロゴ
*************/
#header .logo{
	float:left;
	padding:30px 0 0;
	}
	
	.logo a{
	font-size:10px;
	font-weight:bold;
	line-height:1;
	}
	
	.logo span{
	font-size:24px;
	font-weight:normal;
	}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
margin:30px auto;
padding:0;
width:100%;
position:relative;
line-height:0;
}

#mainBanner img{
max-width:100%;
height:auto;
padding:1px;
border:1px solid #ccc;
background:#eee;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:0;
left:0;
padding:5px 10px;
line-height:1.4;
z-index:100;
}

.slogan h2{
padding-bottom:5px;
color:rgb(237, 233, 233);
font-size:20px;
}

.slogan h3{
font-size:14px;
color:#666;
}

/* サブページ スローガンの背景・黒*/
.subImg .slogan{left:auto;right:0;}

.subImg .slogan h2{color:#fff;}
.subImg .slogan h3{color:#ccc;}



/**************************
/* グリッド
**************************/
.gridWrapper{
padding-bottom:30px;
padding-left: 300px;
overflow: hidden;
}

* html .gridWrapper{
	height:1%;
}
	
.grid{
float:left;
border-radius: 5px;
border: 3px solid #ccc;
background: #f5f5f5;   
}

.grid h3{
/*padding:10px 5px; */
font-weight:bold;
text-align:center;
}

.grid p{
padding:5px 10px;
text-align:left;
}

.grid p.img{text-align:center;}

.gridWrapper img, img.frame{
max-width:100%;
height:auto;
margin-bottom:10px;
padding:1px;
border:1px solid #ccc;
background:#eee;
}

#sub img{
padding:0;
border:1px solid #ccc;
}

/* フッター内のグリッド(3カラム) */
#footer .grid{
color:#fff;
background:transparent;
}

#footer .grid p{padding:0;}


/*************
メイン コンテンツ
*************/
section.content{
padding:10px 0;
margin-bottom:20px;
border-radius:6px;
overflow:hidden;
font-size:14px;
}

* html section.content{height:1%;}

section.content p{margin-bottom:5px;}

h3.heading{
padding-bottom:5px;
margin-bottom:10px;
font-size:26px;
border-bottom:3px solid #555;
color:#555;
}

section.content img{
max-width:90%;
height:auto;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}

#gallery .grid{
padding:5px 0 0;
border:0;
background:#fff;
}


/*************
テーブル
*************/
table.table{
border-collapse:collapse;
width:100%;
margin:10px auto;
}

table.table th,table.table td{
padding:5px;
border:1px solid #1f1f1f;
}

table.table th{
text-align:right;
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
color:#fff;
background:#555;
border-left:#1f1f1f 5px solid
}

table.table td{border-left:#1f1f1f 3px double}



/*************
サブ（フッター前）コンテンツ
*************/
#sub ul{padding:10px;}

#sub li{
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #ebebeb;
}

#sub li:last-child{
border:0;
margin-bottom:0;
}

#sub li a{display:block;}

#sub ul.list{padding-bottom:7px;}

#sub ul.list li{
clear:both;
margin-bottom:4px;
padding:4px 0;
overflow:hidden;
}

* html #sub ul.list li{height:1%;}

#sub ul.list li img{
float:left;
margin:0 10px 0 0;
}

#sub ul.list li{
font-size:12px;
line-height:1.35;
}

/* カードレイアウト部分をラッピング
"space-between"で各アイテムを均等に配置し、
最初と最後のアイテムを端寄せ。*/
#cardlayout-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em auto;
    max-width: 960px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* リンクテキストの下線を非表示 */
a.card-link {
    text-decoration: none;
}

/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-figure {
    margin: 0;
    padding: 0;
}

/* カードレイアウトのタイトル部分 */
.card-title {
    margin: 0.6em 0 0;
    color: #333;
    text-align: center;
    font-size: 1.8em;
}

/* カードレイアウトの説明文部分 */
.card-text-tax {
    margin: 0;
    padding: 1em;
    color: #818181;
}

/* カードレイアウトを1カラムで配置 */
.card-list {
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    background: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(96% / 2); 
    }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
    .card-list {
        width: calc(96% / 3); 
}
    
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(96% / 3);
    }
}



/*************
/* フッター
*************/
#footer{
clear:both;
padding:20px 0;
overflow:hidden;
background:#1f1f1f;
border-top:1px solid #555;
}

* html #footer{height:1%;}

.tel strong{
font-size:20px;
font-weight:bold;
}

#footer a{color:#fff;}
#footer a:hover{color:#ccc;}

#footer .copyright{font-size:11px;}


/* PC用 */
@media only screen and (min-width:960px){	
	#wrapper,.inner{
	width:940px;
	padding:0;
	}

	.gridWrapper {
		padding-bottom: 30px;
		padding-left: 280px;
		overflow: hidden;
	}
	
	#wrapper{padding-bottom:20px;}
	
	nav {
		margin: 90px auto 0;
	  
		position: relative;
		width: 630px;
		height: 60px;
		
		background-color: #34495e;
		border-radius: 10px;
		font-size: 0;
	  }
	  nav a {
		line-height: 50px;
		height: 100%;
		font-size: 15px;
		display: inline-block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: white;
		cursor: pointer;
	  }
	  nav .animation {
		position: absolute;
		height: 100%;
		top: 0;
		z-index: 0;
		transition: all .5s ease 0s;
		border-radius: 8px;
	  }
	  a:nth-child(1) {
		width: 150px;
	  }
	  a:nth-child(2) {
		width: 150px;
	  }
	  a:nth-child(3) {
		width: 190px;
	  }
	  a:nth-child(4) {
		width: 135px;
	  }
	  
	  nav .start-home, a:nth-child(1):hover~.animation {
		width: 150px;
		left: 0;
		background-color: #1abc9c;
	  }
	  nav .start-about, a:nth-child(2):hover~.animation {
		width: 150px;
		left: 150px;
		background-color: #e74c3c;
	  }
	  nav .start-blog, a:nth-child(3):hover~.animation {
		width: 180px;
		left: 300px;
		background-color: #3498db;
	  }
	  nav .start-portefolio, a:nth-child(4):hover~.animation {
		width: 145px;
		left: 485px;
		background-color: #9b59b6;
	  }
	
	#mainBanner img{max-width:936px;}
	
	/* グリッド全体 */
	.gridWrapper{
	width:960px;
	margin:0 0 0 -20px;
	}
	
	/* グリッド共通 ベース:トップページ4カラム */
	.grid{
	float:left;
	width:218px;
	margin-left:20px;
	}
	
	/* サブコンテンツ + フッター グリッド(3カラム) */
	#sub .grid, #footer .grid{width:298px;}
	#footer .grid{border:0;}
	
	#gallery{margin-left:-10px;}
  #gallery .grid{width:220px;}	
}


/* モニター幅940px以下 */
@media only screen and (max-width:940px){
	*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
	}
	
	#header h1{text-align:center;}
	
	#header .logo,#footer .logo{
	float:none;
	text-align:center;
	padding:10px 5px;
	}

	.gridWrapper {
		padding-bottom: 30px;
		padding-left: 150px;
		overflow: hidden;
	}
	
	.logo a{
		font-size:17px;
		font-weight:bold;
		line-height:1;
		}
		
		.logo span{
		font-size:18px;
		font-weight:normal;
		}

	nav {
		margin: 70px auto 0;
	  
		position: relative;
		width: 370px;
		height: 50px;
		
		background-color: #34495e;
		border-radius: 8px;
		font-size: 0;
	  }
	  nav a {
		line-height: 50px;
		height: 100%;
		font-size: 13px;
		display: inline-block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: white;
		cursor: pointer;
	  }
	  nav .animation {
		position: absolute;
		height: 100%;
		top: 0;
		z-index: 0;
		transition: all .5s ease 0s;
		border-radius: 8px;
	  }
	  a:nth-child(1) {
		width: 80px;
	  }
	  a:nth-child(2) {
		width: 80px;
	  }
	  a:nth-child(3) {
		width: 120px;
	  }
	  a:nth-child(4) {
		width: 90px;
	  }
	  
	  nav .start-home, a:nth-child(1):hover~.animation {
		width: 80px;
		left: 0;
		background-color: #1abc9c;
	  }
	  nav .start-about, a:nth-child(2):hover~.animation {
		width: 80px;
		left: 80px;
		background-color: #e74c3c;
	  }
	  nav .start-blog, a:nth-child(3):hover~.animation {
		width: 120px;
		left: 160px;
		background-color: #3498db;
	  }
	  nav .start-portefolio, a:nth-child(4):hover~.animation {
		width: 90px;
		left: 280px;
		background-color: #9b59b6;
	  }
	  
	
	.grid{
	float:left;
	width:48%;
	margin:10px 2% 0 0;
	}
	
	.grid img{
	float:left;
	margin-right:5px;
	}
	
	#gallery{
		padding-left:1px;
	}
	
	#gallery .grid{
	width:23%;
	margin:0 2% 0 0;
	padding:0;
	}
	
	#gallery .grid img{
	float:none;
	margin:0;
	}
	
	#sub .grid{
	width:32%;
	margin:10px 1%;
	}
	
	#sub .grid:first-child{
	margin-left:0;
	}
	
	#sub .grid:last-child{
	margin-right:0;
	}
	
	#footer .grid, #footer .grid p{
	float:none;
	width:100%;
	text-align:center;
	border:0;
	}
	
	#footer .grid:last-child{padding-top:20px;}
}


/* iPad 縦 
@media only screen and (max-width:768px){
  #header{padding-bottom:0;}	

	#header h1{text-align:center;}
	
	#header .logo{
	float:none;
	text-align:center;
	padding:10px 5px 20px;
	}
	
	#sub ul.list{padding:10px 10px 11px;}
	
	#sub ul.list li{
	padding-bottom:10px;
	margin-bottom:8px;
	}
}
*/


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:600px){
	#footer .grid p{text-align:center;}
	
	.grid img{
	float:none;
	margin:0 auto;
	}

	.gridWrapper {
		padding-bottom: 30px;
		padding-left: 50px;
		overflow: hidden;
	}
	
	.grid p,#sub .grid li{
		text-align:left;
	}

	.logo a{
		font-size:17px;
		font-weight:bold;
		line-height:1;
		}
		
		.logo span{
		font-size:16px;
		font-weight:normal;
		}

  .alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
	}
	
	#sub ul.list li img{
		margin:0 5px 0 0;
	}
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:460px){
	#mainBanner{margin-left:1px;}
	#mainBanner h2,#mainBanner h3{font-size:75%;}
	
	#sub .grid{
	float:none;
	width:98%;
	}

	.logo a{
		font-size:17px;
		font-weight:bold;
		line-height:1;
		}
		
		.logo span{
		font-size:15px;
		font-weight:normal;
		}
	
	#sub .grid h3{padding:10px 5px;}
	
	#sub ul.list{padding:10px;}
	
	#sub ul.list li{
	padding-bottom:3px;
	margin-bottom:3px;
	}
}