@charset "utf-8";

body{
	color:#333;

	font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;

	line-height:1.5;

	background:#fff; 
	
	background-image: url("../images/haikei.jpeg");
  
	background-size: cover;

	-webkit-text-size-adjust: none;
}

/* リンク設定
------------------------------------------------------------*/
a{
	color:#555;text-decoration:none;}

	a:hover{color:#1f1f1f;}

	a:active, a:focus{outline:0;}


/* 全体
------------------------------------------------------------*/
#wrapper{

	margin:0 auto;

	padding:0 1%;

	width:98%;

	position:relative;
}

.inner{

	margin:0 auto;

	width:100%;
}


/*************
/* ヘッダーの部分
*************/
#header{

	padding:10px 0 15px;

	overflow:hidden;
}

* html #header{height:1%;}

#header h1{
	font-size:12px;

	font-weight:normal;
}


/*************
/* ロゴみたいなもの
*************/
#header .logo{
float:left;
padding:20px 0 0;
}

.logo a{
font-size:20px;
font-weight:bold;
line-height:1;
}

.logo span{
font-size:12px;
font-weight:normal;
}


/**************************
/* メイン画像（トップページとサブページ）
**************************/
#mainBanner{
margin:30px auto;
padding:0;
width:100%;
position:relative;
line-height:0;
}

#mainBanner img{
max-width:100%;
height:auto;
padding:1px;
border:1px solid #ccc;
background:#eee;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:0;
left:0;
padding:5px 10px;
line-height:1.4;
z-index:100;
}

.slogan h2{
padding-bottom:5px;
color:rgb(237, 233, 233);
	
/* サブページ スローガンの背景を黒に*/
.subImg .slogan{left:auto;right:0;}

.subImg .slogan h2{color:#fff;}
.subImg .slogan h3{color:#ccc;}
font-size:20px;
}

.slogan h3{
font-size:14px;
color:#666;
}


/**************************
/* グリッド
**************************/
.gridWrapper{
padding-bottom:20px;
overflow: hidden;
}

* html .gridWrapper{height:1%;}
	
.grid{
float:left;
border-radius: 5px;
border: 1px solid #ccc;
background: #f5f5f5;   
}

.grid h3{
padding:10px 5px;
font-weight:bold;
text-align:center;
}

.grid p{
padding:5px 10px;
text-align:left;
}

.grid p.img{text-align:center;}

.gridWrapper img, img.frame{
max-width:100%;
height:auto;
margin-bottom:10px;
padding:1px;
border:1px solid #ccc;
background:#eee;
}

#sub img{
padding:0;
border:1px solid #ccc;
}

/* フッター内グリッド(3カラム枠) */
#footer .grid{
color:#fff;
background:transparent;
}

#footer .grid p{padding:0;}

/*************
メイン コンテンツ
*************/
section.content{
padding:10px 0;
margin-bottom:20px;
border-radius:6px;
overflow:hidden;
font-size:14px;
}

* html section.content{height:1%;}

section.content p{margin-bottom:5px;}

h3.heading{
padding-bottom:5px;
margin-bottom:10px;
font-size:16px;
border-bottom:3px solid #555;
color:#555;
}

section.content img{
max-width:90%;
height:auto;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}

#gallery .grid{
padding:5px 0 0;
border:0;
background:#fff;
}


/*************
テーブル
*************/
table.table{
border-collapse:collapse;
width:100%;
margin:10px auto;
}

table.table th,table.table td{
padding:5px;
border:1px solid #1f1f1f;
}

table.table th{
text-align:right;
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
color:#fff;
background:#555;
border-left:#1f1f1f 5px solid
}

table.table td{border-left:#1f1f1f 3px double}



/*************
サブ（フッター前）コンテンツ
*************/
#sub ul{padding:10px;}

#sub li{
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #ebebeb;
}

#sub li:last-child{
border:0;
margin-bottom:0;
}

#sub li a{display:block;}

#sub ul.list{padding-bottom:7px;}

#sub ul.list li{
clear:both;
margin-bottom:4px;
padding:4px 0;
overflow:hidden;
}

* html #sub ul.list li{height:1%;}

#sub ul.list li img{
float:left;
margin:0 10px 0 0;
}

#sub ul.list li{
font-size:12px;
line-height:1.35;
}


/*************
/* フッター
*************/
#footer{
clear:both;
padding:20px 0;
overflow:hidden;
background:#1f1f1f;
border-top:1px solid #555;
}

* html #footer{height:1%;}

.tel strong{
font-size:20px;
font-weight:bold;
}

#footer a{color:#fff;}
#footer a:hover{color:#ccc;}

#footer .copyright{font-size:11px;}


@media only screen and (min-width:960px){	
	#wrapper,.inner{
	width:940px;
	padding:0;
	}
	
	#wrapper{padding-bottom:20px;}
	
  nav div.panel{
	display:block !important;
	float:right;
	}

	a#menu{display:none;}

	nav#mainNav ul{
	float:right;
	overflow:hidden;
	}

	* html nav#mainNav ul{height:1%;}

	nav#mainNav ul li{
	float:left;
	margin:0 5px;
	text-align:center;
	}

	nav#mainNav ul a{
	font-size:13px;
	display:block;
	padding:10px;
	border-bottom:3px solid #fff;
	}

	nav#mainNav ul span{
	color:#aaa;
	font-size:10px;
	}

	nav#mainNav ul li.active a,nav#mainNav ul a:hover{border-color:#1f1f1f;}
	
	#mainBanner img{max-width:936px;}
	
	/* グリッド全体 */
	.gridWrapper{
	width:960px;
	margin:0 0 0 -20px;
	}
	
	/* グリッド共通 ベース:トップページ4カラム */
	.grid{
	float:left;
	width:218px;
	margin-left:20px;
	}
	
	/* サブコンテンツ + フッター グリッド(3カラム) */
	#sub .grid, #footer .grid{width:298px;}
	#footer .grid{border:0;}
	
	#gallery{margin-left:-10px;}
  #gallery .grid{width:220px;}	
}


/* スマートフォン 縦向き(ポートレート)の場合 */
@media only screen and (max-width:480px){
	#mainBanner{margin-left:1px;}
	#mainBanner h2,#mainBanner h3{font-size:75%;}
	
	#sub .grid{
	float:none;
	width:98%;
	}
	
	#sub .grid h3{padding:10px 5px;}
	
	#sub ul.list{padding:10px;}
	
	#sub ul.list li{
	padding-bottom:3px;
	margin-bottom:3px;
	}
}
